$text: (
  v-darkblue: hsl(238, 29%, 16%),
  soft-red: hsl(14, 88%, 65%),
);
$gradient: (
  soft-violet: hsl(273, 75%, 66%),
  soft-blue: hsl(240, 73%, 65%),
);
$neutral: (
  v-darkGrayBlue: hsl(237, 12%, 33%),
  darkGrayBlue: hsl(240, 6%, 50%),
  lightGrayBlue: hsl(240, 5%, 91%),
  white: hsl(0, 0%, 100%),
  divider: hsl(0, 0%, 91%),
);

body {
  background-image: linear-gradient(
    to bottom,
    #af67e9,
    #9f67e9,
    #8d66e9,
    #7a66e8,
    #6565e7
  );
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
  margin: 7rem 1.3rem;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

p {
  padding: 0.6rem;
  outline: none;
}

.faq-card {
  background-color: map-get($neutral, white);
  color: map-get($text, v-darkblue);
  padding: 2rem 1.7rem;
  //   padding: 3rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 17.5rem;

  &__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #191919;
    text-align: center;
    align-self: center;
  }

  &__container {
    border-bottom: solid 2px map-get($neutral, divider);
    width: 100%;
  }

  &__question {
    font-size: 0.8125rem;
    font-weight: 400;
        cursor: pointer;
        border: none;
        background-color: none;
  }

  &__question:hover,
  &__question:focus-visible {
    color: map-get($text, soft-red);
  }

  &__answer {
    padding-right: 1rem;
  }

  &--hide {
    display: none;
  }
}
